@page "/"
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Iniciar Sesión</title>
        <link rel="stylesheet" href="~/css/app.css"/>
    </head>
    <body>
        <center><top><img src="./img/inicio_sesion.png" width="950" height="400" /> </top></center>
        <h1 style="text-align: center; color:white;">
            Inicio de sesión</h1>
        <div class="font">
        Inicia sesión con tu cuenta de <b>Google</b>.</div><br />
        <center>
            <label class="font"> Email </label><br />
            <input type="email" name="correo" /><br /><br />

            <label class="font">Contraseña</label><br />
            <input type="password" name="contraseña" />
        </center>
        <br />
        <br />
        <br />
        <center><button class="font" type="button" style="background-color:transparent;font-size:x-large;padding:20px"> Iniciar Sesión </button></center>
        <br />
        <p class="font">¿No tienes cuenta? <b><a>Registrate</a></b></p>
    </body>
</html>
